# ignore any log files
*[Ll]og*

# ignore defined folders
.storage
custom_components
image
themes
www
glances

# ignore defined files
secrets.yaml

# ignore any database files
**.db
**.db-shm
**.db-wal

# ignore todos
.shopping_list*
